<div id="register-container" class="flex-item center-container" >
  <h1>Create an Account</h1>
  <div class="flex-col-container center-container input-container">

    <%= form_for :user, url: users_path do |f| %>

    <div class="flex-item">
      Full Name:<br>
      <%= f.text_field :name %>
    </div>

    <div class="flex-item">
      Email:<br>
      <%= f.text_field :email %>
    </div>

    <div class='flex-item'>
      Cohort: <br>
      <%= f.select :cohort, Cohort.all.pluck('name') %>
    </div>

    <div class="flex-item">
      Password:<br>
      <%= f.password_field :password %>
    </div>

    <div class="flex-item">
      Confirm Password:<br>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="flex-item">
      <%= f.submit "Sign Up" %>
    </div>

    <% end %>
  </div>
</div>
