<!DOCTYPE html>
<html>
  <head>
    <title>3MJ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <nav class="navigation">
        <p>3MJ</p>
        <% if logged_in? %>
          <%= link_to "#{current_user.name}", user_path(current_user) %>
          <%= link_to "Log Out", session_path(current_user), :method => :delete %>
          <%= link_to 'New Pitch', new_cohort_pitch_path(current_user.cohort) %>
        <% else %>
          <%= link_to 'Register', new_user_path %>
          <%= link_to 'Login', new_session_path %>
        <% end %>
        <%= link_to 'Home', root_path %>
      </nav>
      <div class="flex-container">
        <%= yield %>
      </div>
  </body>
</html>
